@font-face {
  font-family: Laila-SemiBold;
  src: url(../fonts/Laila-SemiBold.ttf);
}

div {
  width: 605px;
  margin: 0 auto;

  nav {
    a {
      text-decoration: none;
      padding: 15px 20px 15px 20px;
      margin-right: 10px;
      border-radius: 10px;
      background-color: #336699;
      color: black;
      font-family: Laila-SemiBold;
      font-size: 25px;

    }

    a:hover {
      background-color: darkred;
    }
  }
}



